{% extends "logbook/base.html" %}

{% block title %}Delete Log{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Delete Log</h2>
                <p>Are you sure you want to delete "{{ log.title }}"?</p>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'logbook:home' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 